.disp-none{
    display:none;
}
.container-form{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    padding-bottom:0;
}
.container-image{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
#confirm-img{
    height: 218px;
    border-radius: 4px;
}
body{
    /*background: linear-gradient(90deg, rgba(19,20,23,1) 0%, rgba(30,31,38,1) 100%, rgba(30,31,38,1) 100%);*/
}
#upload-aphoto{
    background: red;
    border-color:red;
}